.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #414141;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
